@import './variables';
@import './components/button';
@import './components/slider-card';
@import './mixins';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

*{
    margin: 0;
    font-family: 'Roboto';
}

.slider{
    width: min-content;
    margin: 50px auto;
    color: $font-color;
    display: grid;
    align-items: center;
    .slider_cards{
        width: 1160px;
        overflow: hidden;
        grid-area: 2/1/2/4;
        @include flexbox(row, space-between);
        gap: 40px;
    }
    h1{
        grid-area: 1/1/1/2;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
    }
    hr{
        grid-area: 1/2/1/3;
        justify-self: right;
        @include size(360px, 0);
        border: 1px solid $border-color;
        margin-right: 40px;
        box-sizing: border-box;
    }
    .slider_buttons{
        width: fit-content;
        grid-area: 1/2/1/4;
        text-align: right;
        justify-self: right;
        .prevslide{
            margin: 0 40px;
        }
    }
}

@media screen and (max-width:768px) {
    .slider{
        display: grid;
        padding: 0 20px;
        width: 100%;
        .slider_cards{
            overflow:hidden;
            grid-area: 2/1/2/1;
            .slider_card{
                width: 280px;
            }
        }
        h1{
            grid-area: 1/1/1/1;
            
        }
        .slider_buttons{
            grid-area: 3/1/3/1;
            width: 100%;
            @include flexbox(row, space-between);
            .prevslide{
                margin: 20px 0;
            }
            button{
                @include size(55px, 55px);
                margin-top: 20px;
            }
        }
        hr{
            grid-area: 3/1/3/1;
            width: 60%;
            margin: 0 auto;
            &+hr{
                margin-right: 20%;
            }
        }

    }
}
